<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveYears</key>
	<array>
		<integer>2011</integer>
	</array>
	<key>CFPDate</key>
	<date>2011-04-25T22:00:00Z</date>
	<key>CFPUrl</key>
	<string>http://jz11.java.no/call_for_papers.html</string>
	<key>ClubZone</key>
	<array>
		<dict>
			<key>Latitude</key>
			<real>59.912958</real>
			<key>Longitude</key>
			<real>10.754421</real>
			<key>Pin</key>
			<string>jz_pin_logo.png</string>
			<key>Subtitle</key>
			<string>Oslo Spektrum</string>
			<key>Title</key>
			<string>JavaZone</string>
		</dict>
		<dict>
			<key>Latitude</key>
			<real>59.91291</real>
			<key>Longitude</key>
			<real>10.761501</real>
			<key>Subtitle</key>
			<string>Blotsbrødre - A tribute to norwegian rock</string>
			<key>Title</key>
			<string>Gloria Flames</string>
		</dict>
		<dict>
			<key>Latitude</key>
			<real>59.9130091</real>
			<key>Longitude</key>
			<real>10.760917</real>
			<key>Subtitle</key>
			<string>Piano Bar</string>
			<key>Title</key>
			<string>Ivars Kro</string>
		</dict>
		<dict>
			<key>Latitude</key>
			<real>59.913128</real>
			<key>Longitude</key>
			<real>10.760233</real>
			<key>Subtitle</key>
			<string>Stand-Up</string>
			<key>Title</key>
			<string>Dattera til Hagen</string>
		</dict>
		<dict>
			<key>Latitude</key>
			<real>59.913696</real>
			<key>Longitude</key>
			<real>10.756906</real>
			<key>Subtitle</key>
			<string>DJ Mario</string>
			<key>Title</key>
			<string>Cafe Con Bar</string>
		</dict>
	</array>
	<key>FeedbackUrl</key>
	<string>http://www.eventsystems.no/jzfeedback/api/surveys/javazone2011</string>
	<key>SessionUrl</key>
	<string>http://javazone.no/incogito10/rest/events/JavaZone%202011/sessions</string>
</dict>
</plist>
