<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveYears</key>
	<array>
		<integer>2011</integer>
	</array>
	<key>CFPDate</key>
	<date>2011-04-25T22:00:00Z</date>
	<key>CFPUrl</key>
	<string>http://jz11.java.no/call_for_papers.html</string>
	<key>FeedbackUrl</key>
	<string>http://www.eventsystems.no/jzfeedback/api/surveys/javazone2011</string>
	<key>SessionUrl</key>
	<string>http://javazone.no/incogito10/rest/events/JavaZone%202011/sessions</string>
	<key>VideoUrl</key>
	<string>http://dav.java.no/resources/iOS/video-224.plist</string>
</dict>
</plist>
