body {
  font-family: Helvetica;
}
div.paragraph {
  font-size: 13px;
  margin-bottom: 8px;
}
li {
  font-size: 13px;
}
h1 {
  font-size: 17px;
  font-weight: bold;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
h3 {
  font-size: 15px;
  font-weight: normal;
}


ul.labels li {
	list-style-image: url("all.png");
}

ul.labels li.label-alternative-languages {
	list-style-image: url("alternative-languages.png");
}
ul.labels li.label-enterprise {
	list-style-image: url("enterprise.png");
}
ul.labels li.label-web-frontend {
	list-style-image: url("web-frontend.png");
}
ul.labels li.label-testing-craftmanship {
	list-style-image: url("testing-craftmanship.png");
}
ul.labels li.label-tooling {
	list-style-image: url("tooling.png");
}
ul.labels li.label-concurrency-scalability {
	list-style-image: url("concurrency-scalability.png");
}
ul.labels li.label-core-jvm {
	list-style-image: url("core-jvm.png");
}
ul.labels li.label-methodology {
	list-style-image: url("methodology.png");
}
ul.labels li.label-experience-report {
	list-style-image: url("experience-report.png");
}
