body {
  font-family: Helvetica;
}
div.paragraph {
  font-size: 13px;
  margin-bottom: 8px;
}
li {
  font-size: 13px;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
h3 {
  font-size: 15px;
  font-weight: normal;
}

li.label-enterprise-architecture-and-integration {
	list-style-image: url("enterprise-architecture-and-integration.png");
}
