body {
  font-family: Helvetica;
}
div.paragraph {
  font-size: 13px;
  margin-bottom: 8px;
}
li {
  font-size: 13px;
}
h1 {
  font-size: 17px;
  font-weight: bold;
}
h2 {
  font-size: 15px;
  font-weight: bold;
}
h3 {
  font-size: 15px;
  font-weight: normal;
}


ul.labels li {
	list-style-image: url("all.png");
}
